*{
    margin:0px;
    padding:0px;
}
.whole{
    display:flex;
    width: 100%;
  
}
.menu{
    color:#F8F8FA;
    background: #323548;
    height:65.5rem;
    
}
.geekyants{
    padding-left:40px;
    padding-right:40px;
}
.dashboard{
    display:flex;
    align-items:center;
}
.fa-house-user{
    margin:4px;
    color:white;
}
.dashboard{

display: flex;
align-items: center;
justify-content: space-between;
margin:9px;
    
}
.dashboard:hover{
    margin:9px;
    background:black;
}
.dash{
    margin:9px;
}
.dashboard__title {
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot1{
    padding:1px;
    margin: 5px;
    background:#8721da;
    color:white;
    border-radius: 4px;
    float:right;
}
.fa-chevron-right{
    margin:7px;
}
.dot2{
    padding:1px;
    margin: 5px;
    background:green;
    color:white;
    border-radius: 4px;
    float:right;
}
.dot3{
    padding:1px;
    margin: 5px;
    background:red;
    color:white;
    border-radius: 4px;
    float:right;
}
.navbar{
    background:#ecedef;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content:space-between;
   width:86vw;
   
}
.navbar_left{
    display:flex;
    align-items: center;
}
.create{
    padding:5px;
    background:white;
    margin-left:15px;
}
.searchbar{
    padding:5px;
    background:white;
    border-radius: 15px;
    align-items: center;

   
}
.search{
   width:13vw;
    appearance: none;
    border:none;
}
.rightside{
    width:100%;
    
}
.man{
    
    height:35px;
    width:35px;

}
.navbar_right{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    margin:15px;
}
.flag-icon{
    width: 4px;
    height: 5px;
}
.nav-bell{
    
    width: 7px;
    height: 7px;
}
.below_navbar{
    display:flex;
    justify-content: space-between;
    background:#F7F8FA;
}
.below_navbar_right{
    display:flex;
   border-radius: 10px;
   
    padding:15px;
    margin:35px;
    
    background:#8363db;
    color:white;
}

.below_navbar_left{
    margin:35px;
    font-size:25px;
}
.below{
    display:flex;
    margin-top:-45px;
    background: #F7F8FA;
    
}
.orders{
    display:flex;
    background: #626ED4 ;
    width:18.2%;
    padding:5px;
    padding-right:17px;
    border-radius: 9px;
    margin:37px;
    color:#F7F8FA;
}
.a{
    width: 25px;
    height: 25px;
    background-color: var(--violet);
    
    transform: rotate(45deg);
    background:#626ED4 ;
    margin-top: 19px;
    margin-left:21px;
 }
 .e{
    width: 25px;
    height: 25px;
    background-color: var(--violet);
    
    transform: rotate(45deg);
    background:#626ED4 ;
    margin-top: 19px;
    margin-left:9px;
 }
 .b{
    width: 25px;
    height: 25px;
    background-color: var(--violet);
    
    transform: rotate(45deg);
    background:#626ED4 ;
    margin-top: 20px;
    margin-left:27px;
 }
 .c{
    width: 25px;
    height: 25px;
    background-color: var(--violet);
    
    transform: rotate(45deg);
    background:#626ED4 ;
    margin-top: 20px;
    margin-left:15px;
 }
.ribbon{
    padding-left:35px;
    margin-top:-30px;
    margin-left:33px;
    background: green;
}
.ribbon2{
    padding-left:35px;
    margin-top:-30px;
    margin-left:29px;
    background: red;
}
.ribbon3{
    padding-left:35px;
    margin-top:-30px;
    margin-left:40px;
    background:skyblue;
}
.ribbon4{
    padding-left:35px;
    margin-top:-30px;
    margin-left:20px;
    background: gold;
}
.fa-arrow-right-long{
    margin-left:45px;
    margin-top:35px;
}
.red{
    color:red;
}
.green{
 color:lightgreen;
}
.blue{
    color:skyblue;
}
.number{
    margin-top:12px;
}
img{
    width:75px;
    height:75px;
    border-radius: 20px;
}
.image{
    display:flex;
    align-items: center;
    
}
.deliver{
    background:green;
    color:white;
    padding:7px;
    border-radius: 9px;
    font-size:15px;
    
    }
     .cancel{
      color:white;
    background:red;
    padding:7px;
    border-radius: 9px;
    font-size:15px;
     }
     .pending{
      color:white;
    background:gold;
    padding:7px;
    border-radius: 9px;
    font-size:15px;
     }
      
      .edit{
  
        background-color: #626ED4 ;
        color:white;
        padding:7px;
        border-radius: 7px;
        font-size:15px;
        
     }
     table th {
        border-top: 1px solid rgba(151, 147, 147, 0.114);
        padding: 11px;
        width:20%;
      }
      .table_data{
        font-size:20px;
        margin:50px;
        width:60%;
        background:white;

      }
      .table_box{
        display:flex;
        background:#F7F8FA;
        margin-top:-50px;
        
      }
      
      .chat{
        font-size:25px;
        width:200px;
      }
      .person1{
        display:flex;
      }
      .person2{
        display:flex;
        
    }
    .jenne{
        color:blue;
        background:#F7F8FA;
        padding:15px;
        border-radius: 1px 40px 30px 30px ;
        margin-left:50px;
        
    }
    .jone{
        color:blue;
        background:#E1E4F7;
        padding:20px;
        border-radius: 30px 1px 40px 30px ;
        margin-left:200px;

        
    }
    .girl{
        margin-left:50px;
    }

.chat{
    overflow:scroll;
    width:500px;
    height:500px;
    
   
}
.search_send{
    width:390px;
    height:40px;
    margin-bottom:40px;

}
.send_button {
    width:100px;
    height:40px;
    background:green;
    color:white;
    border-radius: 5px;
}
.chat_send{
    margin:50px;
    background: white;
    padding:20px;
    border-radius: 5px;
}